@{
  ViewData["Title"] = "Home Page";
}
   
<style>

  h1 {
    font-size: 60px;
    background: -webkit-linear-gradient(#1f1d1d, #e21a1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>


<body style="background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,84,166,1) 0%, rgba(132,189,201,1) 90% );">
  <h1 style="text-align: center;">
  
    <center style="color: #161616;">Employee Details Management</center></h1><br>
     <img src="../image/EM-removebg-preview.png" alt="Files" class="center" width="500px" height="500px">
  

  <br>
  <center>@ViewBag.Message</center>
</body>
