.Emp[b-hq36p7jr2c] {

    margin-top: 3rem;
    text-align: center;
    font-size: larger;
    color: white;
    /* background: -webkit-linear-gradient(#12cab8f7, #99dc06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.profile-pic button[b-hq36p7jr2c] {
    width: 8rem;
    margin-top: 13rem;
    margin-left: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 5px 0 black;
    cursor: pointer;
}

.title[b-hq36p7jr2c] {
    text-align: center;
    font-size: larger;
    color: white;
    /* background: -webkit-linear-gradient(#12cab8f7, #99dc06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

.col-md-8[b-hq36p7jr2c] {
    width: 8rem;
}

/* .whole {
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
  } */

.text[b-hq36p7jr2c] {
    color: rgb(0, 0, 0);
}